:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
*{
  outline:1px dotted limegreen
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
	background-color: antiquewhite;
  display: flex;
  min-height: 100vh;
}